@media (min-width: 1025px) {
  /* .carousel_arrow { display: none !important; } */
}



@media (max-width: 1360px) {
  .cert_list { margin-left: 80px; margin-right: 80px; }
  .gal_list { margin-left: 80px; margin-right: 80px; }
  .about_content > .wrapper > .row > .col-6 { width: 45%; margin-right: auto; }
  .about_content > .wrapper > .row > .col-2by5 { width: 50%; }
  .white_block > .wrapper > .row > .col-2by5 { width: 100%; }
  .white_block > .wrapper > .row > .col-2by5:first-child { margin-bottom: 3em; }


  .last_reviews_carousel { margin: 0 80px; }
  .last_news_carousel { margin: 0 80px; }
  .companies_carousel { margin: 0 80px; }
}

@media (max-width: 1200px) {
  .price_banner { font-size: 14px; }
  .main_slider { font-size: 13px; }
  .main_slider_item > .wrapper > .row > [class*=col-]:first-child { width: 50%; }
  .main_slider_item > .wrapper > .row > [class*=col-]:last-child { width: 50%;  }
  .main_slider_item__desc { font-weight: 500; }

  .header_submenu__list { max-width: calc(100vw - 30px); }
}


@media  (max-width: 1024px) {
	body { font-size: 16px; }
  .wrapper { padding: 0 30px; }
  h1, .h1 { font-size: 40px; }
  h2, .h2 { font-size: 40px; }

  .header_menu { display: none; }
  .header_btns { display: none; }
  .header_menu_toggle { display: block; }
  .header_menu_toggle__btn { display: block; }

  .header_menu {
    position: absolute; z-index: 10;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    max-width: calc(100% - 30px);
    flex-direction: column;
    padding: 0 !important;
  }
  .header_menu hr { display: none; }
  .header_menu__list { flex-direction: column; }
  .header_menu__item { display: block; }
  .header_menu__item:not(:last-child) { border-bottom: 1px solid #cfcfcf; }
  .header_menu__link { padding: 15px 20px; border-radius: 0; }
  .header_menu__link:active { background-color: #efefef; }
  .header_menu__list ~ .header_menu__list { border-top: 1px solid #cfcfcf; }
  .header_menu__link-marker { border: 0 none; font-weight: bold; border-radius: 0; }

  .footer_top .wrapper > .row { flex-wrap: wrap; justify-content: space-between; justify-content: flex-start; }
  .footer_logo { order: 0; }
  .footer_info { order: 1; }
  .footer_soc { order: 2; margin-right: 0; margin-left: 0; }
  .footer_location { order: 3; flex: 0 0 100%; font-size: 16px; }
  .footer_phone { order: 4; margin-left: 0; margin-right: 1em; }
  .footer_email { order: 5; margin-left: 0; font-size: 16px; }
  .footer_info__worktime { font-size: 14px; }
  .footer_menu { display: none; }
  .footer_middle { padding-bottom: 0; }

  .green_info .wrapper > .row { flex-wrap: wrap; justify-content: space-around; }
  .green_info .wrapper > .row > .col- { margin-left: 0; margin-right: 0; flex: 1 1 40%; margin-top: .5em; margin-bottom: .5em; }

  .contacts_map { height: 460px; }

  .bottom_form__form { max-width: 640px; margin: 0 auto; }
  .bottom_form__title { font-size: 40px; }
  .bottom_form .form-group.col-4 { width: 100%; }

  .news_list > .row > [class*=col-] { width: 100%; }
  .spec_filter { zoom: .8; }

  .spec_content-inside > .wrapper > .row > .col-by5 { width: 240px; }
  .spec_content-inside > .wrapper > .row > .col-4by5.txt { float: none; width: 100%; }

  .white_block.last_data_block > .wrapper > .row { flex-wrap: wrap; }
  .spec_content__price { flex: 0 0 100%; margin-bottom: 3em; }
  .spec_content__reviews { flex: 0 1 100%; }
  
  .block_title { font-size: 40px; }
  .last_reviews_carousel_item__content { font-size: 16px; }

  .main_slider { font-size: 9px; }
  .main_slider_item__subtitle { font-size: 14px; }

  .methods_content { padding: 25px 0; }
  .about_content > .wrapper > .row > .col-6 { width: 50%; }
  .about_content > .wrapper > .row > .col-2by5 { width: 50%; }

  .methods_content__txt { display: block; }
  .methods_content__txt > img:first-child { float: left; margin-bottom: 1em; }
  .doc_tab_item { display: block; }
  .doc_tab_item > img:first-child { float: left; margin-bottom: 1em; }

  .bottom_info [class*=col-] {  margin-bottom: 10px; }

  .card_wrap { flex-direction: column; }
  .card_wrap img { margin-bottom: 1em; margin-left: auto; margin-right: auto; }
  
}
			 
@media (max-width: 767px) {
  .methods_item { align-items: flex-start; display: block; }
  .methods_item .txt { clear: both; }
  .methods_item__img_wrap { border-radius: 14px; overflow: hidden; float: left; margin-right: 24px; margin-bottom: 24px; }

  .news_list_item { align-items: flex-start; display: block; }
  .news_list_item .txt { clear: both; }
  .news_list_item__img_wrap { border-radius: 14px; overflow: hidden; float: left; margin-right: 24px; margin-bottom: 24px; }
  .news_list_item__content { display: block; }

  .main_slider { font-size: 6px; }
  .main_slider .g_btn { zoom: .7; }

  .preims .row > .col-3 { width: 50%; }
  .preims .row > .col-by5 { width: 50%; margin-left: auto; margin-right: auto; }
  .color_block__content .col-6 { width: 100%; }
  .methods_content > .wrapper > .row > .col-6 { width: 100%; }
  .method_banner { border-radius: 0; margin-left: -30px; margin-top: -30px; margin-right: -30px; flex-direction: column; align-items: center; }
	.method_banner__title { display: none; }
  .method_banner__price { margin-bottom: .5em; }

  .about_content > .wrapper > .row > .col-6 { width: 100%; }
  .about_content > .wrapper > .row > .col-2by5 { width: 100%; }
  .about_blockquote { margin-top: 0; margin-bottom: 100px; }

  .color_block__content .col-6 { width: 100%; }

  .methods [class*=col-] { width: 50%; }
  .methods_content [class*=col-] { width: 100%; }

  .textonimage { padding: 30px 30px 260px; }
  .bottom_form__title { font-size: 40px; }

  .main_sections .col-by5 { width: 50%; }
}

@media (max-width: 570px) {
	
	
}
 
@media (max-width: 480px) {
  body { font-size: 15px; }
  .wrapper { padding: 0 16px; }

  h1, .h1 { font-size: 33px; }
  h2, .h2 { font-size: 33px; }
  .h1_wrap h1:before,
  .h1_wrap .h1:before { zoom: .6; }

  .header { padding: 20px 0; }
  .header_logo { flex: 0 0 118px; }
	.header_info { display: none; }
	.footer_info { display: none; }
	.footer_soc { margin-left: auto; }
  .footer_btns { flex-direction: column; }
  .footer_btns > .header_dropdown { margin: 5px; zoom: 1.2; }
  .green_info_phone span { font-size: 22px; }
  .green_info .wrapper > .row > .col-:before { width: 35px; }

  .news_list_item { flex-direction: column; }
  .spec_filter .form-group { min-width: 0; }
  .spec_filter__label { display: none; }
  .spec_filter__label ~ .col- { margin-left: 0; padding: 0; flex: 1 1 auto; }
  .spec_filter__label ~ .col- + .col- { margin-left: 15px; }

  .block_subtitle { margin-top: 0; }


  .last_reviews_carousel.row { margin: 0 -16px; }
  .companies_carousel.row { margin: 0 -16px; }

  .block_title { font-size: 33px; margin-bottom: 20px; }

  .price_banner img { display: none; }
  .price_banner img + img { display: block; }
  .price_accordeon__toggle { font-size: 20px; }
  .price_accordeon__toggle:before { line-height: 24px; }

  .methods_item__img_wrap { float: none; width: 100%; margin-bottom: 0; max-height: 210px; }
  .methods_item__img { width: 100%; }
  .methods_item__title { font-size: 20px; }
  .methods_item__content { padding: 20px 17px; }

  .news_list_item__img_wrap { max-width: 50%; margin-right: 15px; margin-bottom: 15px; max-height: 180px; }
  .news_list_item__content { padding: 20px 17px; }

  .cert_list { margin-left: -15px; margin-right: -15px; }
  .gal_list { margin-left: -15px; margin-right: -15px; }
  .last_reviews_carousel { margin-left: -15px; margin-right: -15px; }
  .method_banner { margin-left: -16px; margin-right: -16px; }

  .main_slider_item > .wrapper > .row { flex-direction: column; align-items: center; }
  .main_slider_item > .wrapper > .row > .col-:nth-child(1) { min-height: 200px; text-align: center; width: 100%; max-width: 300px; }
  .main_slider_item > .wrapper > .row > .col-:nth-child(2) { min-height: 200px; width: 100%; }

  .method_banner { padding: 40px 30px; }
  .method_banner__phone { font-size: 24px; }
  .method_banner__desc { font-size: 20px; text-align: center; }
  .method_banner__price { font-size: 36px; text-align: center; }
  .method_banner .g_btn { font-size: 20px; padding: 0 1em }

  .bottom_info [class*=col-] { width: 100%; margin-bottom: 5px; }

  .textonimage { padding: 15px 15px 260px; }
  .oklist__link { width: 100%; }

  .main_section__title  { font-size: 12px; }
  .methods .row { margin-left: -7px; margin-right: -7px; } 
  .methods .row [class*=col-] { padding: 0 7px; } 
  .bottom_form__title { font-size: 33px; }

  .header_dropdown .dropdown-menu { min-width: 320px; }
}
